html {
  scroll-behavior: smooth;
}

html,
button,
input,
select,
textarea {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.arrow-icon {
  height: 1px;
  width: 2.8em;
  display: block;
  padding: 0.5em;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}
.arrow-icon:hover {
  transform: scale(1.1);
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.left-bar:after {
  content: "";
  background-color: white;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.right-bar:after {
  content: "";
  background-color: white;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.arrow-up .left-bar:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.arrow-up .right-bar:after {
  transform-origin: center center;
  transform: rotate(70deg);
}

/* Custom style here */
.primary {
  color: #3daae0 !important;
}

.secondary {
  color: #4c3d6d !important;
}

body section:nth-child(1), body section:nth-child(2) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-repeat: repeat, no-repeat;
}

body section:nth-child(1) {
  background: url(./fleck-white.png), #3daae0;
}

body section:nth-child(2) {
  background: url(./fleck-white.png), #4c3d6d;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  letter-spacing: -0.0416666667rem;
  line-height: 1;
  margin: 0 0 0.6666666667rem;
  padding-top: 0.6666666667rem;
  font-size: 1.5rem;
}

h2,
p {
  font-size: 1rem;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
