@import './css-resets','./arrow';
/* Custom style here */

$primary: rgb(61, 170, 224);
$secondary:  #4c3d6d;
$fontFamilies: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
.primary {
  color: $primary !important;
}
.secondary {
 color: $secondary !important;
}



body section:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
 padding: 30px 5px;
}

body section:nth-child(1) {
  background: url(./fleck-white.png), $primary;
  background-repeat: repeat, no-repeat;
  padding: 0 5px;
  min-height: 100vh;
}

body section:nth-child(2) {
  background: url(./fleck-white.png), $primary;
  background-repeat: repeat, no-repeat;
  min-height: 100vh;
  padding: 30px 5px;
  .aboutme {
    li {
      border-radius: 5px;
      padding: 15px 10px;
      color: $secondary;
      margin-top: 20px;
      line-height: 1.4em;
     //  &:before {
     //   content: "\2022";  
     //   color: $primary; 
     //   font-weight: bold; 
     //   display: inline-block;
     //   width: 1.5em;
     //   margin-left: -1.5em;
     // }

   }    
 }
}

body section:nth-child(3) {
  background: url(./fleck-white.png), $primary;
  background-repeat: repeat, no-repeat;
  padding: 30px 5px;
  min-height: 100vh;
}

.font {
 font-family: $fontFamilies;
}

h1 {
  font-family: $fontFamilies;
  font-weight: 900;
  letter-spacing: -0.0416666667rem;
  line-height: 1;
  margin: 0 0 0.6666666667rem;
  padding-top: 0.6666666667rem;
  font-size: 1.5rem;

}
h2 {
  font-size: 1rem;

}
p {
  font-size: 1rem;
}
 .freelancericon {
  height: 25px;
  line-height: 25px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .freelancericon {
  height: 30px;
  line-height: 30px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
    .freelancericon {
  height: 35px;
  line-height: 35px;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
      .freelancericon {
  height: 40px;
  line-height: 40px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
    .freelancericon {
  height: 50px;
  line-height: 50px;

}
}



.separator::before {
  content: "\00B7";
  padding: 0 4px 0 0;
}

